:root{
    --white-main-text: #F9FAF8;
    --dark-background-color: #1F2937;
    --gray-background-color: #E5E7EB;
    --refreshing-blue: #3882F6;
    --hero-secondary-text: #E5E7EB;
    --information-header-text: #1F2937;
    --quote-text: #E5E7EB;
}

html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items:start;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--hero-secondary-text);
    font-size: 18px;
}

.header-top-container{
    display: flex;
}

.header{
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-grow: 0;
    gap: 50px;
    background-color: var(--dark-background-color);
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

.header-logo{
    flex: 1 1 auto;
    color: var(--white-main-text);
    font-size: 24px;
    font-weight: bolder;
}

.content-main{
    justify-content: space-between;
    display: flex;
    gap: 10%;
}

.content-main-right{
    margin-right: auto;
}

.content-main-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    gap: 25px
}

.content-main-left-description{
    color: var(--hero-secondary-text);
    font-size: 18px;
}

.content-main-left-title{
    color: var(--white-main-text);
    font-weight: bolder;
    font-size: 48px;
}

.content-information-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bolder;
    color: var(--information-header-text);
    padding-bottom: 50px;
    padding: 30px;
}

.content-main-left-button{
    width: 100px;
    flex-basis: 30px;
    border-radius: 12px;
    background-color: var(--refreshing-blue);
    color: var(--hero-secondary-text);
    font-weight: bold;
    padding: 10px
}

.content-information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-information-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px
}

.content-information-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 135px;
    padding: 30px;
}

.content-information-subtext{
    text-align: center;
    color: var(--information-header-text)
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

.card img{
    border-radius: 12px;
    border: var(--refreshing-blue) solid;
}

.content-quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-background-color);
    padding: 50px;
}

.content-quote{
    font-size: 36px;
    color: var(--information-header-text);
    font-style: italic;
    padding-left: 15%;
    padding-right: 15%;
}

.content-quote-attribution{
    font-size: 24px;
    color: var(--information-header-text);
    font-weight: bolder;
    padding-left: 55%;
    padding-right: 15%;
}

.call-to-action-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-modal{
    background: var(--refreshing-blue);
    width: 480px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-basis: 60%;
    padding: 15px;
}

.left-modal{
    display: flex;
    flex: 1 1 auto;
    padding: 20px;
    align-items: start;
    flex-direction: column;
    padding-left: 30%;
}

.left-modal-title{
    font-size: 24px;
    color: var(--white-main-text);
}

.left-modal-description{
    font-size: 18px;
    color: var(--hero-secondary-text);
}

.right-modal{
    flex: 1 1 auto;
    padding: 25px;
}

.right-modal button{
    width: 100px;
    flex-basis: 30px;
    border-radius: 12px;
    border: 1px var(--white-main-text) solid;
    background-color: var(--refreshing-blue);
    color: var(--hero-secondary-text);
    font-weight: bold;
    padding: 10px;
}

.footer{
    text-align: center;
    background-color: var(--dark-background-color);
    color: var(--hero-secondary-text);
    padding: 30px
}

